<link rel="stylesheet" th:href="@{/static/css/output.css}"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:fragment="details">
    <div th:if="${#lists.size(details) > 0}" class="mt-6 bg-gray-50 p-4 rounded-lg shadow-md">
        <h4 class="text-xl font-semibold text-gray-800 mb-4">Comments</h4>
        <ul class="space-y-4" th:fragment="list-comment">
            <div th:each="comment : ${details}" class="">
                <li class="comment-box p-4">
                    <div class="flex justify-between items-start">
                        <p class="text-gray-900 flex-1" th:text="${comment.content}">Comment content</p>
                        <button th:if="${#authorization.expression('hasRole(''ADMIN'')') or comment.author == #authentication.name}"
                                th:attr="data-comment-id=${comment.id}"
                                class="delete-comment text-red-400 hover:text-red-700 font-semibold text-xs ml-4">
                            Delete
                        </button>
                    </div>
                    <div class="flex justify-between items-end mt-2">
                        <div>
                            <button th:if="${comment.hasReplies}"
                                    th:attr="data-more-id=${comment.id}"
                                    class="load-more text-gray-500 hover:text-gray-700 font-semibold text-xs">
                                Load Replies
                            </button>
                        </div>
                        <p class="text-xs text-gray-500">
                            <span class="comment-author font-semibold" th:text="(${comment.author} ?: 'Anonymous')">Author</span> |
                            <span class="comment-date" th:text="${#temporals.format(comment.createDate, 'dd-MM-yyyy HH:mm')}">Date</span>
                        </p>
                    </div>
                    <ul class="replies-list mt-4 space-y-4"></ul>
                </li>
                <button sec:authorize="isAuthenticated()"
                        class="reply-comment text-blue-400 hover:text-blue-700 font-semibold text-xs px-3">
                    Reply
                </button>
            </div>
        </ul>
    </div>
</div>